html{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	min-width: 500px;
	min-height: 500px;
	background-color: #FFE4E1;
	font-family: "Oswald", sans-serif;

}

div.head{
	top:0;
	margin:5px;
	width:100%;
	padding:0px;
}

div.header {
	margin: 0 auto;
	color: #383838;
	letter-spacing: 2px;
	background-image: url("images/header.jpg");
	height:20em;
}

.main-nav{
	float: right;
	list-style: none;
}

.main-nav li{
	display: inline-block;
}

.main-nav li a{
	background-color: #FFFbFB;
	color: #383838;
	text-decoration: none;
	font family: 'montserrat', 'oswald', sans-serif;
	font-size: 16px;
	padding: 10px;
	border: #383838 3px solid;
}

h1{
	font: 'Montserrat";
	color: #383838;
	background-color: #FFFbFB;
	padding: 10px;
	border: #383838 3px solid;
	letter-spacing: 2px;
	font-size: 64px;
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 350px;
}

div.bodyout{
	padding: 20px;
	margin: 0 auto;
	width:80em;
}

div.bodyin{
	display: inline-block;
	margin: 0 auto;
	padding: 3px;
}

img.floatleft{	
	height: 450px ;
	border: 3px solid #383838;
	clear: left;
	margin: 10px;
	display:inline-block;
}

p.bio{
	position:absolute;
	margin: 10px;
	float: left;
	clear: left;
	background-color: #fffbfb;
	width: 352px;
	border: 3px solid #383838;
	padding: 10px;
	display: inline-block;
	text-align: left;
}


div.happy{
	padding: 20px;
	margin: 0 auto;
	width:80em;
}

img.happyimg{	
	position: relative;
	border: 3px solid #383838;
	width: 800px;
	clear: right;
	margin:10px;
}

p.happyp{
	margin: 10px;
	float: left;
	clear: left;
	background-color: #fffbfb;
	width: 352px;
	border: 3px solid #383838;
	display: inline-block;
	padding: 10px;
}

div.container{
	padding: 20px;
	margin: 0 auto;
	width: 80em;
}

div.hobby{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 100px;
	clear: both;
}

img.mbefore{	
	width: 19em;
	height: auto;
	border: 3px solid #383838;
	margin: 10px;
	clear: right;
}

img.mafter{
	width: 19em;
	position: absolute;
	height: auto;
	border: 3px solid #383838;
	clear: both;
	margin: 10px;
	display: inline-block;
}

div.imgs{
	position: relative;
	padding: 20px;
	float: right;
	width: 40%;
	margin: 0 auto;
	top: -625px;
}
	
p.hobbyp{
	position: relative;
	height: auto;
	padding: 10px;
	background-color: #fffbfb;
	width: 27em;
	border: 3px solid #383838;
	display: inline-block;
}

img.braid{
	height: auto;
	width: 28em;
	border: 3px solid #383838;
	float: bottom;
	margin: 10px;
	position: relative;
	left: -1px;
}

a.totop{
	background-color: #FFFbFB;
	color: #383838;
	text-decoration: none;
	font-size: 16px;
	padding: 10px;
	border: #383838 3px solid;
	float: right;
}

.footer {
 	position: static;
	margin:0 auto;
 	bottom: 0;
 	width: 1250px;
	height:50px;
 	background-image: url("images/header.jpg");
}
