html{
	background-color: #FFE4E1;
	position:fixed;
   	top:0;
    bottom:0;
    left:0;
    right:0;
	margin: 0;
	font family: 'montserrat', 'oswald', sans-serif;
}

div.header {
	margin: 0 auto;
	font-color: #383838;
	letter-spacing: 2px;
	background-image: url("images/header.jpg");
	display: block;
}

.main-nav{
	float: right;
	list-style: none;
}

.main-nav li{
	display: inline-block;
}

.main-nav li a{
	background-color: #FFFbFB;
	color: #383838;
	text-decoration: none;
	font family: 'montserrat', 'oswald', sans-serif;
	font-size: 16px;
	padding: 10px;
	border: #383838 3px solid;
}

h1{
	font: 'Montserrat";
	font-color: #383838;
	background-color: #FFFbFB;
	padding: 10px;
	border: #383838 3px solid;
	letter-spacing: 2px;
	font-size: 64px;
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 350px;
	
}

img.mbefore{	
	width: 20em;
	height: auto;
	border: 3px solid #383838;
	float: left;
	margin: 10px;
}

img.mafter{
	width: 20em;
	height: auto;
	border: 3px solid #383838;
	clear: both;
	margin: 10px;
}

img.braid{
	height: auto;
	width: 25em;
	border: 3px solid #383838;
	float: bottom right;
	margin: 10px;
}
div.body{
	position: absolute;
	top: 200px;
	display: inline-block;
	padding: 20px;
}

p.bio{
	position:absolute;
	height: 375px auto;
	margin: 10px;
	float: top right;
	clear: both;
	padding: 10px;
	background-color: #fffbfb;
	width: 370px;
	border: 3px solid #383838;

}
.footer {
  position: fixed;
  bottom: 0;
  width: 1250px;
	height:100px;
  background-image: url("images/header.jpg");
}
